
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h4>Latest News</h4>
  </div>
  <ul class="list-group list-group-flush">
<p><%= newsItems[0].title %></p>
<p><%= newsItems[1].title %></p>
<p><%= newsItems[2].title %></p>
<p><%= newsItems[3].title %></p>
<p><a href="/news/<%= newsItems[0].id %>"><%= newsItems[3].title %></a></p>
  </ul>
</div>
