

<div class="container">
  <h2>Update User Information</h2>
  <form method="POST" action="/users/<%= user.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="" value="<%= user.name %>">
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" class="form-control-file" name="position" id="position" value="<%= user.position %>">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" name="country" id="country" value="<%= user.country %>">
        <option>Austria</option>
        <option>Canada</option>
        <option>Croatia</option>
        <option>Finland</option>
        <option>France</option>
        <option>Germany</option>
        <option>Greece</option>
        <option>Italy</option>
        <option>Norway</option>
        <option>Slovakia</option>
        <option>Slovenia</option>
        <option>Sweden</option>
        <option>Switzerland</option>
        <option>USA</option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" name="role" id="role" value="<%= user.role %>">
        <option>Team Account Manager</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control-file" name="email" id="email" value="<%= user.email %>">
    </div>
    <div class="form-group">
      <label for="image">Enter link to profile photo</label>
      <input type="txt" class="form-control-file" name="image" id="image" value="<%= user.image %>">
    </div>
    <div class="form-group">
      <label for="username">Userame</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="" value="<%= user.username %>">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
