<div class="container">
  <div class="">
    <h4>Latest News</h4>
    <% if(locals.isLoggedIn) { %>
      <a href="/news/new">Add News Article</a>
      <% } %>
    </div>
    <div class="row">
      <div class="col">
        <% newss.forEach((news) =>{ %>
          <div class="media">
          <img class="mr-3" src="<%= news.image %>" alt="" width="35%">
          <div class="media-body">
          <h5 class="mt-0"><a href="/news/<%= news.name %>"><%= news.title %></a> </h5>
          <%= news.article %>
          </div>
          <% if(locals.isLoggedIn) { %>
            <a href="/news/<%= news.name %>/edit">Update</a>
            <form method="POST" action="/news/<%= news.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button>Delete</button>
            </form>
            <% } %>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
