

<div class="container">
  <h2>Update Racer Information</h2>
  <div class="row">
    <div class="col-6">
      <form method="POST" action="/racers/<%= racer.id %>">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="" id="name" placeholder="Enter name" value="<%= racer.name %>">
        </div>
        <div class="form-group">
          <label for="image">Update link to photo</label>
          <input type="text" class="form-control-file" name="image" id="image" value="<%= racer.image %>">
        </div>
        <div class="form-group">
          <label for="favoriteSpot">Favorite Spot to Ski</label>
          <input type="text" class="form-control-file" name="favoriteSpot" id="favoriteSpot" value="<%= racer.favoriteSpot %>">
        </div>
        <div class="form-group">
          <label for="fisRank">FIS Rank</label>
          <input type="text" class="form-control" name="fisRank" id="fisRank" placeholder="Enter latest FIS Ranking" value="<%= racer.fisRank %>">
        </div>
        <div class="form-group">
          <label for="category">Select Category</label>
          <select class="form-control" name="category" id="category" value="<%= racer.category %>">
            <option>Ladies</option>
            <option>Men</option>
          </select>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" name="country" id="country" value="<%= racer.country %>">
            <option>Austria</option>
            <option>Canada</option>
            <option>Croatia</option>
            <option>Finland</option>
            <option>France</option>
            <option>Germany</option>
            <option>Greece</option>
            <option>Italy</option>
            <option>Norway</option>
            <option>Slovakia</option>
            <option>Slovenia</option>
            <option>Sweden</option>
            <option>Switzerland</option>
            <option>USA</option>
          </select>
        </div>
        <%# here goes the code from the product specs %>
        <div class="form-group">
          <label for="sponsors">Sponsors</label>
          <textarea class="form-control" name="sponsors" id="sponsors" rows="3"><%= racer.sponsors %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>
